.profile-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.profile-stats {
    display: flex;
    gap: 30px;
}

.stat-item {
    text-align: center;
}

.stat-number {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.stat-label {
    font-size: 0.9rem;
    color: #666;
}

.profile-actions {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary {
    background: #4f24aa;
    color: white;
}

.btn-primary:hover {
    background: #0056b3;
}

.btn-icon {
    background: #f0f0f0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-tabs {
    display: flex;
    margin-top: 20px;
}

.tab-item {
    padding: 8px 25px;
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    font-weight: 500;
    transition: all 0.3s ease;
}

.tab-item.active {
    color: #f8f8f8;
    border-bottom: 3px solid #4f24aa;
}

.tab-content {
    padding: 20px 0;
}

.showcase-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.showcase-item {
    height: 300px;
    background: #2b3035;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #666;
    padding: 10px;
}
.showcase-item h6{
    color: #f4f4f4;
}
.tag-cloud {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    background: #f0f0f0;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    color: #333;
}