{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}
{% block head_title %}
{% trans "Reset Password" %}
{% endblock head_title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
<style>
    form p strong{
        color: rgb(98, 180, 98);
    }
    form button{
        background-color: #E9661D;
        border-radius: 25px;
        border: none;
        padding: 10px;
        color: white;
        width:100%;
    }
    form label{
        text-align: center;
    }
</style>
{% endblock stylesheet %}
{% block content %}
<div class="login_container">
    <div style="border: 1px solid #cfd0d1;padding: 20px;border-radius: 35px;">
        <h3 style="text-align: center;">Email Verification</h3>

    {% if emailaddresses %}
        {% url 'account_email' as email_url %}
        {% element form form=form action=email_url method="post" tags="email,list" %}
            {% slot body %}
                {% csrf_token %}
                {% for radio in emailaddress_radios %}
                    {% with emailaddress=radio.emailaddress %}
                        {% element field type="hidden" checked=radio.checked name="email" value=emailaddress.email id=radio.id %}
                            {% slot label %}
                                {{ emailaddress.email }}
                                {% if emailaddress.verified %}
                                    {% element badge tags="success,email,verified" %}
                                        {% translate "Verified" %}
                                    {% endelement %}
                                {% else %}
                                    {% element badge tags="warning,email,unverified" %}
                                        {% translate "Unverified" %}
                                    {% endelement %}
                                {% endif %}
                            {% endslot %}
                        {% endelement %}
                    {% endwith %}
                {% endfor %}
            {% endslot %}
            {% slot actions %}
                {% element button tags="secondary" type="submit" name="action_send" %}
                    {% trans 'Send Verification Code' %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
    {% else %}
        {% include "account/snippets/warn_no_email.html" %}
    {% endif %}
    
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var elements = document.querySelectorAll("p strong");
        
        elements.forEach(function(element) {
            if (element.textContent.trim() === "Unverified") {
                element.style.color = "rgb(206, 50, 50)"; 
                element.style.fontWeight = "bold"; 
            }
        });
    });
</script>

{% endblock content %}
{% block extra_body %}
{{ block.super }}
{% if PASSKEY_LOGIN_ENABLED %}
{% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
{% endif %}
{% endblock %}

