{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}
{% block head_title %}
{% trans "Logout" %}
{% endblock head_title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
{% endblock stylesheet %}
{% block content %}
<div class="login_container">
    <div style="border: 1px solid #cfd0d1;padding: 20px;border-radius: 35px;">
        <h3 style="text-align: center;">Logout</h3>

            <form method="post" action="/accounts/logout/">
                <p>
                    Are you sure you want to Logout? 
                </p>
                {% csrf_token %}
                <button class="login_logging_btn" type="submit"> Sign Out </button>
            </form>

    </div>
</div>

{% endblock content %}