{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}
{% block head_title %}
{% trans "Reset Password" %}
{% endblock head_title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
{% endblock stylesheet %}
{% block content %}
<div class="login_container">
    <div style="border: 1px solid #cfd0d1;padding: 20px;border-radius: 35px;">
        <h3 style="text-align: center;">Reset Your Password</h3>

        <form method="post" action="/accounts/password/reset/">
            {% csrf_token %}
            <p>
                <label for="id_email">Email:</label>
                <input type="email" name="email" placeholder="Email address" autocomplete="email" maxlength="320" required id="id_email">
            </p>
            <button class="login_logging_btn" name="action" type="submit"> Set Password </button>
        </form>
    </div>
</div>

{% endblock content %}
{% block extra_body %}
{{ block.super }}
{% if PASSKEY_LOGIN_ENABLED %}
{% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
{% endif %}
{% endblock %}