{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}
{% block head_title %}
{% trans "Password Reset Done" %}
{% endblock head_title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
{% endblock stylesheet %}
{% block content %}
<div class="login_container">
    <div style="border: 1px solid #cfd0d1;padding: 20px;border-radius: 35px;">
        <h3 style="text-align: center;">Change Password Successfully</h3>

        <form>
            <p>
                Your password is now changed.
            </p>
            <button class="login_logging_btn" style="pointer-events: none;">
                Redirecting... <span class="logging_timer">5</span>
            </button>
        </form>
        
        <script>
            let countdown = 7; 
            const timerElement = document.querySelector('.logging_timer');
            const countdownInterval = setInterval(function() {
                countdown--;
                timerElement.textContent = countdown;
                if (countdown === 0) {
                    clearInterval(countdownInterval);
                    window.location.href = "{% url 'account_login' %}";
                }
            }, 1000);
        </script>
        
    </div>
</div>

{% endblock content %}