{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}
{% block head_title %}
{% trans "Reset Password" %}
{% endblock head_title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
{% endblock stylesheet %}
{% block content %}

<div class="login_container">
    <div style="border: 1px solid #cfd0d1;padding: 20px;border-radius: 35px;">
        <h3 style="text-align: center;">
            Sign In Via Google
        </h3>
        <p>
            You are about to sign in using a third-party account from Google.
        </p>
        <form method="post" action="">
            {% csrf_token %}
            <button class="login_logging_btn" type="submit"> Continue </button>
        </form>
    </div>
</div>

{% endblock content %}
{% block extra_body %}
{{ block.super }}
{% if PASSKEY_LOGIN_ENABLED %}
{% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
{% endif %}
{% endblock %}