.image_space_leaderboard{
    position: relative;
}
.badge_and_trophy{
    position: absolute;
    bottom: 0;
    right: -20px;
}
.image_sapce_score .leaderboard_score{
    font-size: 2.3em !important;
    margin: 0;
}
.image_sapce_score{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}