{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}
{% block head_title %}
{% trans "Order success" %}
{% endblock head_title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
{% endblock stylesheet %}
{% block content %}
<div class="login_container">
    <div style="border: 1px solid #cfd0d1;padding: 20px;border-radius: 35px;">

        <form>
            <h1>Thank you for your order!</h1>
            <p>Your order was successful. You can download your invoice below:</p>
            <h4 class="mb-3">Your OTP For Verification : <strong>{{ delivery_otp }}</strong></h4>
            {% if order_id %}
                <a href="{% url 'home:download_invoice' order_id=order_id %}" class="login_logging_btn" style="text-decoration: none;">Download Invoice</a>
            {% else %}
                <p>Order ID not found, unable to download invoice.</p>
            {% endif %}
            <a href="{% url 'home:home' %}" class="login_logging_btn" style="text-decoration: none;">Home</a>
        </form>

        
    </div>
</div>

{% endblock content %}