{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}
{% block head_title %}
{% trans "Password Reset Done" %}
{% endblock head_title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/loader.css' %}">
<style>
    .d-grid button:hover{
        background-color: #FF951C;
        color: white;
        font-weight: 700;
    }
    .list-group-item{
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 10px;
    }
    .scanner_image{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .scanner_image img{
        width: 200px;
    }
</style>

{% endblock stylesheet %}
{% block content %}


<div class="container">
    <div class="loader">
        <svg viewBox="0 0 240 240" height="240" width="240" class="pl">
            <circle stroke-linecap="round" stroke-dashoffset="-330" stroke-dasharray="0 660" stroke-width="20"
                stroke="#000" fill="none" r="105" cy="120" cx="120" class="pl__ring pl__ring--a"></circle>
            <circle stroke-linecap="round" stroke-dashoffset="-110" stroke-dasharray="0 220" stroke-width="20"
                stroke="#000" fill="none" r="35" cy="120" cx="120" class="pl__ring pl__ring--b"></circle>
            <circle stroke-linecap="round" stroke-dasharray="0 440" stroke-width="20" stroke="#000" fill="none" r="70"
                cy="120" cx="85" class="pl__ring pl__ring--c"></circle>
            <circle stroke-linecap="round" stroke-dasharray="0 440" stroke-width="20" stroke="#000" fill="none" r="70"
                cy="120" cx="155" class="pl__ring pl__ring--d"></circle>
        </svg>
    </div>

    <!-- OTP Verification Form -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-8">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">Delivery Verification</h4>
                    <div class="scanner_image">
                        <img src="{{ scanner.scanner_image.url }}" alt="">
                    </div>
                    <form id="otpForm" method="POST" action="{% url 'home:verify_delivery_otp' %}">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="delivery_otp">Enter OTP</label>
                            <input type="text" id="delivery_otp" name="delivery_otp" class="form-control" required placeholder="Enter delivery OTP">
                        </div>
                        <div class="d-grid">
                            <button class="btn login_logging_btn btn-block" type="submit">Verify OTP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Display Delivery Details After OTP Verification -->
    <div id="deliveryDetails" class="row justify-content-center mt-2" style="display: none;">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title text-center">Delivery Details</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Email: <span id="email"></span></li>
                        <li class="list-group-item">Phone Number: <span id="phone"></span></li>
                        <li class="list-group-item">Address: <span id="address"></span></li>
                        <li class="list-group-item">Payment Mode: <span id="payment_mode"></span></li>
                        <li class="list-group-item">Payment Status: <span id="payment_status"></span><span id="payment_timing"></span></li>
                        <li class="list-group-item">Delivery Status: <span id="delivery_status"></span><span id="delivery_timing"></span></li>
                    </ul>

                    <form id="confirmForm" method="POST" action="{% url 'home:confirm_delivery' %}">
                        {% csrf_token %}
                        <input type="hidden" name="order_id" id="confirm_order_id" value="">
                        <div class="d-grid mt-4">
                            <button class="btn btn-success btn-block login_logging_btn" type="submit" style="display: none;">Confirm Delivery</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-2 result_container" style="display: none;">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-8">
            <div class="card shadow">
                <div class="card-body">
                    <div id="result"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<!-- jQuery and DataTables JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

<script>
    let payment_status_data="pending";
    $(document).ready(function () {
        const otpForm = $('#otpForm');
        const confirmForm = $('#confirmForm');
        const deliveryDetails = $('#deliveryDetails');
        const resultDiv = $('#result');
        const result_container = $('.result_container');
        function showLoader() {
            $('.loader').css('display', 'flex');
        }

        function hideLoader() {
            $('.loader').css('display', 'none');
        }
        otpForm.on('submit', function (event) {
            event.preventDefault();
            const formData = new FormData(this);

            $.ajax({
                url: otpForm.attr('action'),
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: function () {
                    showLoader();
                },
                success: function (data) {
                    hideLoader();

                    if (data.status === 'success') {
                        result_container.css('display', 'none');
                        $('#email').text(data.customer_email);
                        $('#payment_mode').text(data.payment_mode);
                        $('#payment_status').text(data.payment_status);
                        $('#delivery_status').text(data.delivery_status);
                        $('#phone').text(data.phone_number);
                        $('#address').text(`${data.address_line1}, ${data.city}`);
                        $('#confirm_order_id').val(data.order_id);
                        let delivery_status_data= data.delivery_status;
                        deliveryDetails.show(); 
                        
                        if (delivery_status_data === "pending") {
                            confirmForm.find('button').show();  // Show confirm button
                        } else {
                            confirmForm.find('button').hide();  // Hide confirm button if payment is complete
                        }
                        if(data.payment_status==="paid") {
                            document.getElementById('payment_timing').innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#6fc9b0" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>`;
                            document.getElementById('delivery_timing').innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#6fc9b0" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>`;
                        }else{
                            document.getElementById('payment_timing').innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#dc3444" class="bi bi-hourglass" viewBox="0 0 16 16"><path d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5m2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702c0 .7-.478 1.235-1.011 1.491A3.5 3.5 0 0 0 4.5 13v1h7v-1a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351v-.702c0-.7.478-1.235 1.011-1.491A3.5 3.5 0 0 0 11.5 3V2z"/></svg>`
                            document.getElementById('delivery_timing').innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#dc3444" class="bi bi-hourglass" viewBox="0 0 16 16"><path d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5m2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702c0 .7-.478 1.235-1.011 1.491A3.5 3.5 0 0 0 4.5 13v1h7v-1a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351v-.702c0-.7.478-1.235 1.011-1.491A3.5 3.5 0 0 0 11.5 3V2z"/></svg>`
                        }
                    } else {
                        result_container.css('display', 'block');
                        deliveryDetails.css('display', 'none');
                        resultDiv.text(data.message);  // Show failure message
                    }
                    
                },
                error: function (error) {
                    hideLoader();
                    console.error('Error:', error);
                }
            });
        });

        confirmForm.on('submit', function (event) {
            event.preventDefault();
            const confirmFormData = new FormData(this);

            $.ajax({
                url: confirmForm.attr('action'),
                method: 'POST',
                data: confirmFormData,
                processData: false,
                contentType: false,
                beforeSend: function () {
                    showLoader();
                },
                success: function (data) {
                    hideLoader();
                    result_container.css('display', 'block');
                    deliveryDetails.css('display', 'none');
                    if (data.status === 'success') {
                        resultDiv.text('Order verified and delivered successfully!');  // Display success message
                        deliveryDetails.hide();  // Hide delivery details after confirmation
                    } else {
                        resultDiv.text('Error in confirming delivery.');  // Handle failure
                    }
                },
                error: function (error) {
                    hideLoader();
                    console.error('Error:', error);
                }
            });
        });
    });
</script>

{% endblock content %}