{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}
{% block head_title %}
{% trans "Profile" %}
{% endblock head_title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/home.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
<style>
    /* User Profile Card */
.user-profile-card {
    border-radius: 10px;
    background-color: #f9f9f9;
    border: none;
    overflow: hidden;
}

/* Profile Header */
.profile-header {
    background-color: #E9661D;
    color: white;
    border-bottom: none;
}

/* Profile Image */
.profile-img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Profile Image Container */
.profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card Body Styling */
.user-profile-card .list-group-item {
    border: none;
    padding: 15px 20px;
    background-color: transparent;
}

/* Button Styles */
.user-profile-card .btn {
    border-radius: 25px;
    padding: 8px 16px;
}

.user-profile-card .btn-outline-primary {
    color: #E9661D;
    border-color: #E9661D;
}

.user-profile-card .btn-outline-primary:hover {
    background-color: #E9661D;
    color: white;
}

.user-profile-card .btn-danger {
    background-color: #E9661D;
    border: none;
}

.user-profile-card .btn-danger:hover {
    background-color: #d15419;
}
.badge-success {
    border: 1px solid white;
    background-color: rgb(98, 180, 98);
}
.badge-warning {
    border: 1px solid rgb(206, 50, 50);
    background-color: rgb(206, 50, 50);
}
.verify_btn_email{
    background-color: transparent;
    border: 1px solid white;
}
.verify_btn_email:hover{
    background-color: rgb(98, 180, 98);
    border: 1px solid rgb(98, 180, 98);
    cursor: pointer;
}
/* Mobile Responsiveness */
@media (max-width: 576px) {
    .profile-header {
        padding: 20px;
    }
    
    .profile-img {
        width: 80px;
        height: 80px;
    }
}
.address_order input{
    width: 100%;
    border: 1px solid #888;
    padding: 4px;
}
#id_address_line1,
#id_city{
    width: 100%;
    padding: 5px;
}
</style>
<script
src="https://code.jquery.com/jquery-3.7.1.min.js"
integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
crossorigin="anonymous"></script>
{% endblock stylesheet %}
{% block content %}
<div class="container-fluid">
    <div class="cart_button" style="z-index: 10000;">
        <a href="{% url 'home:view_cart' %}">
            <img loading="lazy" width="25px" src="{% static 'assets/img/home/cart.webp' %}" alt="">
        </a>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card user-profile-card shadow-sm">
                    <div class="card-header profile-header text-center py-4">
                        <div class="profile-image-container">
                            {% if user.socialaccount_set.exists %}
                            <!-- If the user is authenticated through Google -->
                            {% with user.socialaccount_set.first as social_account %}
                              <img loading="lazy" width="40px" height="40px" style="border-radius: 50%;margin-right: 10px;" src="{{ social_account.extra_data.picture }}" alt="Profile" class="img-fluid profile-img">
                            {% endwith %}
                            {% elif user.profile.picture %}
                                <img loading="lazy" src="{{ user.profile.picture.url }}" alt="{{ user.username }}" class="img-fluid profile-img">
                            {% else %}
                                <img loading="lazy" src="{% static 'assets/img/avatar.webp' %}" alt="Default Avatar" class="img-fluid profile-img">
                            {% endif %}
                        </div>
                        <h3 class="mt-3">{{ user.username }}</h3>
                        <p>{{ user.email }}</p>
                        {% if email_verified %}
                            <span class="badge badge-success">Email Verified</span>
                        {% else %}
                            <span class="badge badge-warning">Email Not Verified</span> <span onclick="window.location.href='{% url 'account_email' %}'" class="badge badge-warning verify_btn_email">Verify now</span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Username:</strong> {{ user.username }}
                            </li>
                            <li class="list-group-item">
                                <strong>Email:</strong> {{ user.email }}
                            </li>
                            <li class="list-group-item">
                                <strong>Join Date:</strong> {{ user.date_joined|date:"F j, Y" }}
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'account_change_password' %}" class="btn btn-outline-primary btn-sm">Change Password</a>
                        <a href="{% url 'account_logout' %}" class="btn btn-danger btn-sm">Logout</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card user-profile-card shadow-sm mt-4 address_order">
                    {% if user.is_authenticated %}
                    <div class="card-header profile-header text-center py-4">
                        <h4>Saved Addresses</h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            {% for address in addresses %}
                              <li style="display: flex;justify-content: space-between;">
                                  <div>
                                    {{ address.address_line1 }}, {{ address.city }}, {{ address.phone_number }}
                                    {% if address.is_primary %}
                                        <strong>(Primary)</strong>
                                    {% endif %}
                                    {% if not address.is_primary %}
                                        <a href="?set_primary={{ address.id }}" style="color: #E9661D;">Set as Primary</a>
                                    {% endif %}
                                  </div>
                                    <a href="?delete_address={{ address.id }}" class="btn btn-sm btn-outline-primary mt-2" style="padding: 1px 15px;">Delete</a>
                              </li>
                            {% empty %}
                              <li>No delivery addresses added yet.</li>
                            {% endfor %}
                          </ul>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button class="login_logging_btn" type="submit">Save Address</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
